<div class="area">
  <!--提示信息-->
  <p-messages [(value)]="msgs" [closable]="true" [style]="{'position':'fixed','top': '0','margin-left': '9vw','width': '80vw','z-index':'9999'}"></p-messages>
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <rbi-s-loation locationTitle="区域管理"></rbi-s-loation>
  <!--<h1 class="text-center">区域管理</h1>-->
  <div class="area-header">

  </div>
  <div class="area-table">
    <rbi-tree-table [select]="areaSelect" (selectData)="selectData($event)" [treeTableOption]="areaTableOption"></rbi-tree-table>
  </div>
  <rbi-paging [option]="pageOption"></rbi-paging>
</div>
